@charset "utf-8";

body{
    font-family: Arial, Helvetica, sans-serif ;
    background-image: linear-gradient(to right, gray, rgba(128, 128, 128, 0.616));
    margin: 0%;
}
header{
    background-color: rgba(7, 3, 253, 0.466);
    color: white;
    text-align: center;
    margin-top: -54px;
    margin-left: 0px;
    margin-right: 0px;
}
nav{
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.199);
    
}
a{
    text-decoration: none;
    padding-right: 1em;
    color: rgb(0, 0, 0);
}
a#principal:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a:hover{
    color: blue;
    text-decoration: underline;
}
header>nav{
    text-align: center;
}
main{
    margin-top: 1px;
    margin-left: 40px;
    margin-right: 40px;
    
}

article{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
section#noticias{
    background-color: white;
    border-radius: 10px;
  
}
section#fama{
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-right-width: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
}
h1{
    font-family: toybox, sans-serif;
    font-weight: normal;
    font-size: 4em;
}
h2{
   background-image: linear-gradient(to right, rgb(163, 163, 163), rgba(255, 255, 255, 0.555));
}
p{
    text-align: justify;
    text-indent: 40px;
}

article>aside{  
    font-weight: bolder;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    margin-top: 15px;

}