@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
main{
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 6px 5px 10px #235833be;
    width: 500px;
    padding: 10px ;
    margin: auto;
}
body{
    background-image: linear-gradient(to left, #5bf58b, #a0f55b);
}
h1{
  font-family: idroid;
  color: #f55baf;
  text-align: center;
  text-shadow: 2px 1px 2px #94386bc0;
}
h2{
  color: #5a7a40 ;
  background-image: linear-gradient(to right, #5bf58b, #a0f55b8c);
  font-family: IDroid;
}